__pycache__/SEdist.cpython-39.pyc
__pycache__/SEdist.cpython-36.pyc
src/SEDist.egg-info/dependency_links.txt
src/SEDist.egg-info/PKG-INFO
src/SEDist.egg-info/SOURCES.txt
src/SEDist.egg-info/top_level.txt
